<%-include("partials\\header");%>
    <h1>Contact Us</h1>
    <p><%= bodyText %></p>
    <form action="/contactus" method="post">
      <div class="form-group">
        <label for="user">Your Name</label>
        <input type="text" name="user" class="form-control" placeholder="Enter your name">
      </div>
      <div class="form-group">
        <label for="userID">Enter your E-Mail ID</label>
        <input type="email" name="userID" class="form-control" placeholder="Mailing-ID"></input>
      </div>
      <div class="form-group">
        <label for="subject">Enter the subject</label>
        <input type="text" name="mailSubject" class="form-control" placeholder="Mail subject"></input>
      </div>
      <div class="form-group">
        <label for="mailContent">Say hi to dev!</label>
        <textarea name="mailContent" class="form-control" rows="8" cols="80"></textarea>
      </div>
        <button class="btn btn-primary" type="submit" name="button">Send Mail</button>
    </form>
<%-include("partials\\footer");%>
